@{
    ViewData["Title"] = "Liste des Fournisseurs";
}
@{
    var data = ViewBag.Message;
}
<h1>@ViewData["Title"]</h1>



<p>Liste des Fournisseurs</p>


<div>
    <table id="myTable" class="table" cellspacing="0">
        <thead>
            <tr>
                @foreach (var property in Model.GetType().GetGenericArguments()[0].GetProperties())
                {
                    <th>@property.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var property in item.GetType().GetProperties())
                    {
                        <td>@property.GetValue(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
